.footer {
  /* background-color: #585b63; */
  border-top: 1px solid #585b63;
  color: white;
  padding-block: 10px;
}

.footer p {
  max-width: 1200px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.githubLogo {
  margin-left: 5px;
  transition: all 0.2s;
}

.githubLogo:hover {
  transform: scale(1.3) rotate(720deg);
}
