.hero {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  padding: 20px;
  padding-block: 70px;
  min-height: calc(100vh - 124px);
  /* margin-inline: 20px; */
}

.heroOne {
  max-width: 498px;
  /* flex-grow: 0; */
}

.heroTwo {
  flex-basis: 55%;
}

.heroOne img {
  width: 300px;
  margin-left: -40px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.heroOne h1 {
  font-size: 3.5rem;
  margin-bottom: 10px;
  text-align: start;
}

.heroOne br {
  margin-bottom: 10px;
}

.heroOne p {
  padding-bottom: 30px;
  line-height: 1.7;
}

.heroOne a {
  border: 1px solid white;
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
}

.heroTwo {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card {
  align-self: flex-end;
  max-width: 498px;
  max-height: 244px;
  overflow: hidden;
  border-radius: 15px;
}

.cardOne {
}

.cardTwo {
  text-align: center;
}

.cardTwo img {
  display: inline-block;
  margin-top: -25px;
  margin-left: 00px;
}
