.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 50px;
  padding: 20px;
  padding-block: 20px;
  min-height: calc(100vh - 124px);
  /* margin-inline: 20px; */
}

.heroOne {
  flex-basis: 50%;
}

.heroTwo {
  flex-basis: 50%;
}

.heroOne img {
  width: 300px;
  margin-left: -40px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.heroOne h1 {
  font-size: 3.5rem;
  margin-bottom: 15px;
  text-align: start;
}

.heroOne br {
  margin-bottom: 10px;
}

.heroOne p {
  /* padding-bottom: 30px; */
  max-width: 50ch;
  line-height: 1.7;
  padding-bottom: 10px;
}

.lastP {
  margin-bottom: 25px;
}

.heroOne a {
  border: 1px solid white;
  /* color: white; */
  padding: 10px 30px;
  border-radius: 10px;
  font-weight: 500;
  transition: all 0.3s;
}

.heroOne a:hover {
  background-color: white;
  color: #202124;
}

.heroTwo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.heroTwo a {
  align-self: flex-end;
}

@media screen and (max-width: 800px) {
  .hero {
    flex-direction: column;
  }
  .heroOne {
    max-width: 55ch;
  }
  .heroTwo a {
    align-self: center;
  }
}
