.navbar {
  /* background-color: #212528; */
  height: 75px;
  border-bottom: 1px solid #585b63;
  font-family: "GoodTimes";
  padding-inline: 20px;
}

.navbar img {
  max-width: 35px;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin-inline: auto;
  font-size: 1.1rem;
  padding-block: 20px;
}

.links {
  display: flex;
  gap: 50px;
}

@media screen and (max-width: 500px) {
  /* to change for slide in menu */
  .links,
  .searchBtn {
    display: none;
  }
}

.searchBtn svg {
  color: #f8f9fa;
}

#open {
  display: flex;
}

#close {
  display: none;
}
