.navbar {
  background-color: #212528;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1;
  /* height: calc(100vh); */
  width: 150px;

  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;

  border-right: 1px solid #dce1e74b;
  padding: 25px;
}

.navbar img {
  max-width: 35px;
}

.container {
}

.navbar a {
  color: white;
  text-decoration: none;
}

#open {
  display: flex;
}

#close {
  display: none;
}
