.recipes {
}

.recipes h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 40px;
}

.recipesList {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  padding-inline: 20px;
}
