.statsContainer {
  padding: 10px;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  gap: 15px;
  max-width: 300px;
  margin-inline: auto;
}

.statsContainer > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.statsIcon {
  background-color: #2a2b2f;
  border-radius: 5px;
  padding: 3px;
}
