.bannerImage {
  max-width: 1200px;
  height: 250px;
}

.container {
  padding-bottom: 80px;
  margin-inline: 15px;
}

.container h1 {
  padding-top: 30px;
  padding-bottom: 15px;
  text-align: center;
}

.creator {
  display: flex;
}

.creator a {
  display: inline-flex;
  margin-inline: auto;
  gap: 15px;
  align-items: center;
  padding-bottom: 5px;
}

h2 {
  font-weight: 200;
}

@media screen and (max-width: 500px) {
  h1 {
    padding-top: 15px;
  }
  .creator a {
    padding-bottom: 15px;
  }
}

.creator,
.stats {
  /* border-bottom: 1px solid #585b63; */
  /* font-family: "GoodTimes"; */
  margin-inline: auto;
}

.creator {
  max-width: 750px;
}

.stats {
  padding-bottom: 15px;
  font-weight: 200;
  border-bottom: 1px solid #585b63;
}

.grid {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  margin-bottom: 40px;

  max-width: 900px;
  margin-inline: auto;
}

@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }

  .grid h2 {
    /* text-align: center; */
  }
}

.ingredients,
.directions {
  font-weight: 200;
}

.ingredients h2,
.directions h2 {
  margin-top: 25px;
  margin-bottom: 15px;
}

.ingredients li {
  line-height: 2;
}

.ingredients li {
  list-style-type: none;
  position: relative;
}

.ingredients li::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 10px;
  position: absolute;
  left: -5px;
  top: 12px;
  background-color: #d0d0d0;
}

.grid ul,
.grid ol,
.grid li {
  padding-left: 17px;
  margin-left: 0;
}

.videoDescription {
  border-top: 1px solid #585b63;
  padding-top: 30px;
  font-weight: 300;
  padding-bottom: 15px;
  text-align: center;
}
