.statsContainer {
  padding: 10px;
  gap: 15px;
  margin-inline: auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.statsContainer > div {
  width: 140px;
  display: flex;
  align-items: center;
  gap: 7px;
  padding-inline: 10px;
}

.statsIcon {
  background-color: #2a2b2f;
  border-radius: 5px;
  padding: 2px;
}
